.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }

  .Flex-container {
    display: flex;
  }

  .Sign-in-box {
    flex-direction: row;
  }

  .Input-field-box {
    flex-direction: row;
  }

  .Button-box {
    flex-direction: column;
  }

  .Button {
    margin: 1rem;
  }

  .Input-field {
    margin: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }