@import url("global.css");

.app {
  text-align: center;
}

/*Removes default border from buttons */
button {
  border: none;
}

.app-header {
  padding: 1.25rem;
  /* color: var(--drop-down-text-color);
  color: blue; */
  margin-bottom: 2rem;
}

/*Organizes containers in row */
.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*Gives container slight shadow */
.smooth-shadow-box,
.dropdown-menu {
  box-shadow: 0 0 0.5rem 0.0625rem var(--border-hover-color);
}

/*Gives container white background that can resize */
.sign-in-box {
  padding-top: 2rem;
  width: 80vw;
  margin-top: 0.0625rem;
  border-radius: 0.625rem;
  background-color: var(--general-background-color);
  max-width: 34.5625rem;
}

/*Organizes containers in column when combined with flex-box class */
.flex-column {
  flex-direction: column;
}

/*General button design for all buttons */
.button {
  margin: 1rem;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.625rem;
  border: solid;
  border-width: 0.0625rem;
  border-color: var(--button-color);
  background-color: var(--button-background);
  color: var(--button-border);
}

/*Makes buttons smaller */
.button-small {
  padding: 0.3125rem 0.625rem !important;
}

/*Adds button color transition when hovered over */
.button:hover {
  transition: background-color ease 0.5s;
  background-color: var(--button-hover);
}

/*Class for language button only */
.language-button {
  margin-right: auto;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  background-color: var(--general-background-color);
  border-radius: 0.625rem;
}

/*Navigation button styles */
.navigation-button-image {
  width: 2rem;
  margin: 1rem;
  cursor: pointer;
}

/*Styling for navigation box*/
.navigation-box {
  width: 90vw;
}

/*Drop down button image */
.button-image {
  width: 0.9375rem;
  margin-left: 0.3125rem;
}

/*General input field class for all input fields */
.input-field {
  border-radius: 0.3125rem;
  border: solid;
  border-width: 0.0625rem;
  margin: 1rem;
  padding: 0.3125rem;
  font-size: 1rem;
  width: 70%;
}

/*Makes input field container responsive */
.input-field-box {
  width: 80%;
}

body {
  background-color: var(--body-color);
  /* color: var(--text-color); */
  color: var(--general-text);
}

/*Dropdown menu classes for styling */
.dropdown-toggle {
  font-size: 0.875rem;
  cursor: pointer;
  margin: 0rem !important;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: var(--general-background-color);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 0.3125rem;
  min-width: 6.25rem;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item a {
  text-decoration: none;
  color: var(--drop-down-text-color);
  display: block;
  padding: 0.5rem 1rem;
}

.dropdown-item a:hover {
  background-color: var(--border-hover-color);
}

input {
  border: 0.0625rem solid var(--input-border);
  transition: outline-color 0.3s ease;
  outline: 0.125rem solid transparent;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0;
}

input:focus {
  outline-color: var(--input-outline);
}

/*Styling for gender button */
.gender-button {
  margin: 0.3125rem;
  margin-bottom: 1rem;
  padding: 0.3125rem;
}

.red-star {
  color: red;
}

/*General styling for skills */
.skills {
  padding: 0.125rem 0.3125rem;
  align-content: center;
  border-radius: 20%;
  background-color: var(--skills-shadow);
  text-align: center;
  margin: 0.625rem;
}

/*Styles event containers */
.event-box {
  margin-top: 1rem;
  border-radius: 0.625rem;
  background-color: var(--general-background-color);
  width: 95%;
}

.event-box-image {
  width: 10rem;
  border-radius: 1rem;
}

.event-box-image-pos {
  float: left;
}

.event-box-content {
  width: 90%;
}

/*Adds line break to any container */
.line-break {
  border-color: var(--line-break) !important;
  border-width: 0.125rem !important;
  border-bottom: solid;
}

/*dots with colors to indicate event spots status */
.event-spots-full {
  background-color: #ff0000cc;
  box-shadow: 0 0 0.625rem 0.1875rem #ff0000;
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.625rem;
  margin-right: 1rem;
}

.event-spots-free {
  background-color: #00c900;
  box-shadow: 0 0 0.625rem 0.1875rem #00ff00;
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.625rem;
  margin-right: 1rem;
}

/*design for the top of a scrollable list bar (use incremental names) */
.top-scroll-box1 {
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 0.5rem 0.0625rem var(--scroll-box-top-bottom);
}

.bottom-scroll-box1 {
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 0 0.5rem 0.0625rem var(--scroll-box-top-bottom);
  background-color: var(--bottom-scroll-box);
  padding-bottom: 1rem;
}

.scroll-box1 {
  width: 90vw;
  max-width: 36.4375rem;
}

.perosnal-area-content {
  margin-bottom: 0.7rem;
  /* font-size: 20px; */
  font-size: 1.3rem;
}
