:root {
  --common-colour-1: #ffefdc;
  --common-colour-2: #000000;
  --common-colour-3: #0000001a;

}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: var(--common-colour-2);
  margin-bottom: 2rem;
}

.Flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Smooth-shadow-box {
  box-shadow: 0 10px 15px 5px var(--common-colour-3);
  max-width: 450px;
}

.Sign-in-box {
  margin-top: 1px;
  border-radius: 10px;
}

.Input-field-box,
.App,
.Sign-in-box {
  flex-direction: column;
}

.Button {
  margin: 1rem;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.Language-button {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 14px;
  padding: 5px;
}

.Input-field {
  margin: 1rem;
  padding: 5px;
  font-size: 16px;
}

body {
  background-color: var(--common-colour-1);
}

.Drop-down {
  display: inline-block;
  position: relative;
}

.dropdown-toggle {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: var(--common-colour-1);
  box-shadow: 0px 8px 16px var(--common-colour-3);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  min-width: 100px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px 16px;
}

.dropdown-item a:hover {
  background-color: var(--common-colour-3);
}