/* :root {
  --box-background-color: #f5f5f5;
  --drop-down-text-color: #000000;
  --general-shadow: #0000002c;
  --body-color: #f1f1f1;
  --bottom-scroll-box: #dddddd;
  --top-scroll-box: #dddddd;
  --line-break: #7c7c7c;
  --input-focus: blue;
  --input-border: "#cccccc";
  --button-hover: #a8a8a8;
  --button-text: black;
  --button-background: #d1d1d1;
  --button-border: #c2c2c2;
  --general-text: black;
  --skills-shadow:#e0e0e0;
  --skills-background: #d1d1d1;
  --even-row-table: #f9f9f9;
  --row-table-hover: #f1f1f1;
  --odd-row-table: #ffffff;
  --table-row-text: #3d3d3d;
  --table-line-break: #dee2e6;
} */

:root {
  /* --primary-orange: #ffd699;
  --primary-blue: #e3f2fd;
  --primary-green: #e8f5e9; */
  --text: #000000;
  --bg-shapes: #3b548a33;
  --bg-surface: #ffffff4b;

  --body-color: #ffffff;
  --box-background-color: #f9ffe9;
  --skills-background: #d8d8d8;

  --input-border: #cfd8dc;
  --general-shadow: #0000001a;
  --skills-shadow: #e7e7e7;

  --general-text: #424242;
  --drop-down-text-color: #2e2e2e;
  --table-row-text: #455a64;

  --input-focus: #6dacf3;
  --line-break: #cfd8dc;
  --table-line-break: #eeeeee;

  --button-background: #e6e6e6;
  --button-hover: #d6d6d6;
  --button-text: #1b1b1b;
  --button-border: #d1d1d1;

  --top-scroll-box: #f0faff;
  --bottom-scroll-box: #f0faff;

  --even-row-table: #f9fbe7;
  --odd-row-table: #ffffff;
  --row-table-hover: #f1f8e9;
}

html[data-theme="dark"] {
  --text: #ffffff;
  --bg-shapes: #474747;
  --bg-surface: #272727;

  --box-background-color: #48484d;
  --drop-down-text-color: #000000;
  --general-shadow: #0000002c;
  --body-color: #333336;
  --bottom-scroll-box: #3a3a41;
  --top-scroll-box: #3a3a41;
  --line-break: #9e9e9e;
  --input-focus: #3498db;
  --input-border: #555555;
  --button-hover: #5050ba;
  --button-text: #ffffff;
  --button-background: #7070ff;
  --button-border: #7070e0;
  --general-text: #ffffff;
  --skills-shadow: #7a7a7a;
  --skills-background: #7070ff;
  --even-row-table: #333336;
  --row-table-hover: #29292c;
  --odd-row-table: #3d3d3d;
  --table-row-text: #dadada;
  --table-line-break: #808285;
}
